<div class="d-flex">

<button class="container-fluid">
    
       
            
      <h4>Cards</h4>  
    
    
</button>
<button class="container-fluid justify-items-between">
    
       
            
    <h4>Music</h4>  


</button>

</div>







<div id="content">
    
        <div  class="d-flex pages">

<!-- Study Page 1 -->

            <div id="cards" [routerLink]="['/cards']" class="btn d-grid studypage">
                <div class="stack">
                    
                       
                    
                    
                    
                </div>
                
            </div>
       






        </div>
       
</div>

