<div class="d-flex mainContainer">
<div class="d-flex btnContainer" >

    <button routerLink="cards"  routerLinkActive="blue"  class="container-fluid">
    
       
            
        <h4>Cards</h4>  
      
      
  </button>
  <button routerLink="music" routerLinkActive="blue" class="container-fluid justify-items-between">
      
         
              
      <h4>Music</h4>  
  
  
  </button>



</div>


</div>







<div id="content">
    
        

<!-- Study Page 1 -->

       <router-outlet></router-outlet>






      
       
</div>

