
<div id="cards" [routerLink]="['/cards']" class="flex">
    <div class="image-container">
        <div class="percentage"  data-toggle="popover" data-placement="top" title="percentage complete "data-bs-trigger="hover" >percentage</div>
        <img src="/assets/stacks.svg" alt="Image Description">
        <p>Text under the image</p>
      </div>

      <div class="image-container">
        <img src="/assets/stacks.svg" alt="Image Description">
        <p>Text under the image</p>
      </div>
     
    
    
    

   
    
   
    
</div>
