
<div id="cards" class="flex ">
 
  <div  *ngIf="newStack" class="d-flex newStack" style="margin-left: 20%;">
    <button type="button" (click)="seeMakeNewStack()"  class="btn-close" aria-label="Close"></button>

    <div class="form-group">
      <input type="text" class="form-control" [placeholder]="['Stack '+( stacks.length + 1)]" name="newStackName" [(ngModel)] ="chosenName"/>
    </div>
    <div *ngIf="newStack" class="form-group row justify-content-center">
      <div class="col-sm-10"> 
        <button class="btn btn-primary text-nowrap" type="submit" (click)="makeNewStack()">Create stack</button>
      </div>
    </div>

  </div>
  <div  *ngIf="editStack" class="form d-flex" style="margin-left: 20%; width: 100%;">
    <button type="button" (click)="edit(true)"   class="btn-close" aria-label="Close"></button>
    <div class="form-group d-flex deleteStack">
      <select id="selectControl" class="form-control" name="selectedStack" [(ngModel)] ="chosenVal" (ngModelChange)="highlightStack()" required>
        <option value="0" disabled selected>Select a Stack</option>
        <option *ngFor="let stack of stacks" [value]="stack.id">{{ stack.title }}</option>
      </select>
      <button (click)="deleteStack()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill throwAway" viewBox="0 0 16 16">
        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
      </svg></button>

    </div>



  </div>
    <div *ngIf="!newStack && !editStack"   class="row btns">
      <button (click)="seeMakeNewStack()" class="btn makeNew "></button>
      <button type="button" class="btn btn-outline-primary edit" (click)="edit()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg> Edit
      </button>
    </div>
<div class="d-flex">
  
  <div *ngFor="let stack of stacks" class="image-container stack" [routerLink]="['/' + studyPageId +'/cards/'+ stack.id]" id={{stack.id}}  >
    
    <img src="/assets/stacks.svg" alt="Image Description"  data-toggle="popover" data-placement="top" [title]="'Percentage Complete ' + stack.percentageCorrect + '%'" data-bs-trigger="hover">
    <p>{{stack.title}}</p>
  </div>

</div>
    
   
    
</div>
