.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .login-form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  img{z-index: -1;}