.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .login-form {
    background: #fff;
    padding: 0 2%;
    border-radius: 5px;
    padding-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: -webkit-fill-available;
    position: absolute;
    top: 18%;
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin: 2% 0;
    justify-content: center;
  }
  .form-group input{
    width: 90%;

  }
  
  button {
    background: linear-gradient(90deg, #004AAD, #CB6CE6);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  #img{
    background-image: url("/assets/linguatune.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 48%;
    position: absolute;
    top: -11%;
    z-index: 1;
    
}