<div *ngIf="cards.length == 0" class="d-flex justify-content-center noCard">
    <div class="d-flex flex-column justify-content-center">
        <h1 class="text-center">You have no cards!</h1>
        <img src="/assets/face.svg" alt="">
        
        <button class="btn awesomeBtn" [routerLink]="['/studypage/' + studypageId + '/music']">Discover some new music!</button>
    </div>
    
</div>
<div *ngIf="cards.length > 0" class="container">
<div id="title"></div>
<div  id="flashCard" > 
    <div *ngFor="let card of cards.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)" class="card flashcard" id="{{card.id}}">
        <div class="card-header"><h2 class="card-title">{{card.originalText}}</h2></div>

        <div class="card-body">
            
            <h4 class="card-text rightAnswer"  *ngIf="guessMade">{{card.translatedText}}</h4>
  
            
          </div>
          <div class="card-footer">
              <a [routerLink]="['/song', card.fromSong.id]" class="btn btn-primary">from song:  {{card.fromSong.title}} - {{card.fromSong.artist}}</a>
  
          </div>
      </div>
   
      
      
      
</div>
<div class="pagination">
    <button [disabled]="currentPage === 1" (click)="setPage(currentPage - 1)">Previous</button>
    <button [disabled]="currentPage === totalNumberOfPages" (click)="setPage(currentPage + 1)">Next</button>
  </div>
<div id="answer">
    <div class="form-group row ">
        {{guess}}
        <input type="text" id="guess" [(ngModel)] = "guess" (keydown)="onKeyPress($event)">
    </div>

</div>

</div>