<div id="musicContainer" class="d-flex align-content-center flex-column" >
    
   
    <form id="musicSearch" name="search">
        <div class="form-group" >
            <input type="text" class="form-control" name="searchInput" id="searchInput" placeholder="Search..." [(ngModel)]="search"  (keyup)="searchSongs()" >
            <div class="form-check form-switch">
                <input class="form-check-input" name="Artist" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="artistSearch">
                <label class="form-check-label"  for="flexSwitchCheckDefault" >Search By Artist</label>
              </div>
        </div>
    </form>
    
    <div class="results">
        <div class="pagination">
            <button [disabled]="currentPage === 1" (click)="setPage(currentPage - 1)">Previous</button>
            <button [disabled]="currentPage === totalNumberOfPages" (click)="setPage(currentPage + 1)">Next</button>
          </div>
        <h3>Songs</h3>
        
        <button *ngFor="let song of songs.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)"  class="song btn d-flex" [routerLink]="['/song', song.id]">
            <img src="assets/musicLogo.svg" alt="">
            <div>

                <h4>{{song.title}}</h4>
                <h5>{{song.artist}}</h5>
            
            </div>
            
        </button>
        

</div>
